<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <h3 class="section-subheading text-muted">Empowering businesses through data-driven insights and AI-powered solutions.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>At Kademos Consulting, our mission is to empower organizations to unlock the full potential of their data. 
                We provide innovative data analytics and AI-driven business intelligence solutions that drive informed decision-making, 
                strategic growth, and a competitive edge in today's data-driven world.</p>
                
                <p>Our expert team is dedicated to delivering tailored insights and exceptional service, ensuring that our clients 
                thrive in the complexities of the digital landscape. We're committed to helping you transform data into actionable insights 
                that fuel your success.</p>
            </div>
        </div>
    </div>
    </section>
