<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">At Kademos Consulting, we provide specialized services designed to help businesses harness the full power of their data, making informed decisions and driving strategic growth.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Advanced Data Analytics</h4>
                    <p class="text-muted">We help businesses transform raw data into actionable insights. Our team of expert analysts works with you to understand your data and build powerful analytical models that can reveal hidden patterns and trends.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI-Driven Business Intelligence</h4>
                    <p class="text-muted">We enhance traditional business intelligence systems with AI to automate data processing, identify hidden opportunities, and improve decision-making speed.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom AI Solutions</h4>
                    <p class="text-muted">Tailored AI solutions designed to meet specific business needs. Whether you want to optimize operations, automate tasks, or build intelligent systems, we create and implement AI models that deliver results.</p>
                </div>
            </div>
        </div>
    </section>
